---
import { Image } from "astro:assets";
import BannerImg from "/public/profile/ceramic-header.avif";
const { title, subtitle, backgroundImage } = Astro.props;
---

<section
  class="relative w-full h-[400px] flex justify-center items-center"
  role="region"
  aria-label={title}
>
  {
    backgroundImage ? (
      <img
        src={backgroundImage}
        alt={title}
        aria-hidden="true"
        class="absolute inset-0 w-full h-full object-cover"
        loading="lazy"
      />
    ) : (
      <Image
        src={BannerImg}
        alt="Hands working on a ceramic"
        aria-hidden="true"
        class="absolute inset-0 w-full h-full object-cover"
        loading="lazy"
      />
    )
  }

  <div class="absolute inset-0 bg-black/60" aria-hidden="true"></div>

  <div class="relative z-10 text-white text-center px-4">
    <h2 class="text-4xl md:text-5xl font-bold" role="heading" aria-level="1">
      {title}
    </h2>
    {
      subtitle && (
        <p class="text-xl md:text-2xl mt-2 text-gray-200">{subtitle}</p>
      )
    }
  </div>
</section>
